<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRPW0002429\MICROSOSLQSERVER;initial catalog=RegulacijaRegala;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RegulacijaRegalaEntities" connectionString="metadata=res://*/DBModel2.csdl|res://*/DBModel2.ssdl|res://*/DBModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TRPW0002429\MICROSOSLQSERVER;Initial Catalog=RegulacijaRegala;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RegulacijaRegalaTest" connectionString="metadata=res://*/DataBaseModel.csdl|res://*/DataBaseModel.ssdl|res://*/DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.16.70;initial catalog=RegulacijaRegala;persist security info=True;user id=TraceabilityAdmin;password=grga+010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RegulacijaRegalaEntities1" connectionString="metadata=res://*/DataBaseModel.csdl|res://*/DataBaseModel.ssdl|res://*/DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.16.70;initial catalog=RegulacijaRegala;persist security info=True;user id=TraceabilityAdmin;password=grga+010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RegulacijaRegalaEntitiesTest" connectionString="metadata=res://*/ModelDataBase.csdl|res://*/ModelDataBase.ssdl|res://*/ModelDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.16.70;initial catalog=RegulacijaRegala;persist security info=True;user id=TraceabilityAdmin;password=grga+010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TraceabilityEntities" connectionString="metadata=res://*/DBTraceabilityModel.csdl|res://*/DBTraceabilityModel.ssdl|res://*/DBTraceabilityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.16.70;initial catalog=RegulacijaRegala;user id=traceabilityAdmin;password=grga+010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>