<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestApp.Properties.Settings>
            <setting name="TestApp_rs_nbs_webservices_ExchangeRateService"
                serializeAs="String">
                <value>https://webservices.nbs.rs/CommunicationOfficeService1_0/ExchangeRateService.asmx</value>
            </setting>
        </TestApp.Properties.Settings>
    </applicationSettings>
</configuration>